.contacts {
  padding-top: 56px;
  padding-bottom: 70px;

  .contacts__container {
    padding: 0 170px 0 103px;
  }

  h2 {
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    color: #102654;
    margin: 0;
    margin-bottom: 43px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;

  h3 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #102654;
    margin: 0;
  }

  a {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #102654;
  }
}

@media (min-width: 1200px) {
  .contacts {
    grid-column: 2/3;
    border-top: 1px solid #74819c;

    .contacts__container {
      max-width: 580px;
      margin: 0;
      margin-right: auto;
      padding-right: 0;
    }
  }
}


@media (max-width: 1199px) {
  .contacts {
    padding: 70px 0;

    h2 {
      font-size: 42px;
      line-height: 50px;
    }

    h3 {
      font-size: 20px;
      line-height: 150%;
    }

    a {
      font-size: 18px;
      line-height: 152.34%;
    }
  }

  .contacts__list {
    column-gap: 55px;
    row-gap: 20px;
  }
}

@media (max-width: 767px) {
  .contacts {
    .contacts__container {
      padding: 0 15px 0 15px;
    }

    h2 {
      font-size: 32px;
      line-height: 38px;
    }
  }

  .contacts__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts__item--other-order,
  .contacts__item--last-order {
    order: 1;
  }
}
